<form method="POST" action="/new">
    <h1>Add Member</h1>
    <input type="text" name="name" title="Name"></input>
    <input type="text" name="message" title="message" ></input>
    <button type="submit">Submit</button>
</form>